.classifylist .mark{
	height: 100%;
	position: absolute;
	z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}
.classifylist .scroll_body{
	padding-top:1.893333rem;
}
.menuTop{
  position:fixed;
  top: 1.173333rem;
  width: 100%;
  background: #fff;
  z-index: 10;

}
.menuTop .topnav .item{
	padding: 0 0.266667rem;
	line-height: 0.8rem;
}

.menuTop .menuBox{
	position: relative;
}
.menuTop .menuBox>.item{
	width: 40%;
	height: 1.066667rem;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 1.066667rem
	
}
.menuTop .menuBox>.item>a{
	display: inline-block;
	width: 100%;
	
}
.menuTop .menuBox>.item>.itemBox{
	position: absolute;
	top: 1.093333rem;
	left: -0.266667rem;
	right: -0.266667rem;
	z-index: 20;
	background: #fff;
	flex-flow: row wrap;
}

.menuTop .menuBox>.item>.itemBox>.item{
	width: 30%;
	padding-left: 0.266667rem;
	font-size: 0.32rem
}
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}