.goodsDetails{
	background: #fff;
	padding: 0 0.266667rem;
	text-align: center;
	font-size: 0.32rem;
	padding-top: 1.066667rem;
	padding-bottom: 1.6rem
}
.goodsDetails .msgBox {
	padding: 0.533333rem 0;
  border-bottom: 0.133333rem solid #ddd;
  margin: 0 -0.266667rem;
}
.goodsDetails .msgBox .title{
	font-size: 0.51852rem;
}
.goodsDetails .msgBox .price{
	font-size: 0.51852rem;
	color: #ff0000;
}
.goodsDetails .msgBox .price del{
	font-size: 0.32rem;
	color: #666;
}
.goodsDetails .sale_products{
  padding-top:0.266667rem;
  padding-bottom: 0.266667rem;
  margin: 0 0.266667rem;
}
.goodsDetails .center{
	margin: 0 -0.266667rem;
	border-bottom: 0.133333rem solid #ddd;
}
.goodsDetails .sale_products h3.title{
    position: relative;
  font-size: 0.37333rem;
  font-weight: bold;
}
.sale_products h3.title:after,.sale_products h3.title:before{
  content: '';
  position: absolute;
  top: 52%;
  background: #333;
  width: 15%;
  height: 0.064074rem;
}
.sale_products h3.title:after{
  left:0;
}
.sale_products h3.title:before{
  right:0
}
.sale_products .productUl{
	height: 100%;
}
.sale_products .item{
	width: 4.074074rem !important;
	height: 6rem;
	padding-bottom: 0.133333rem;
	position: relative;
	margin:0.266667rem;
}
.sale_products .item .infobox{
	font-size: 0.32rem;
	text-align: left;
}
.sale_products .item .infobox .title{
	width: 100%;
	line-height:0.533333rem;
	white-space:nowrap;
	overflow-x: hidden;
	text-overflow:ellipsis;
	padding-bottom: 0.266667rem;
	font-size: 0.32rem;
}
.sale_products .item .infobox .source{
	color: #666;
	padding-bottom: 0.266667rem;
}
.sale_products .item .infobox .price{
	color: #f58220
}
.sale_products .item .infobox .icon{
	font-size: 0.533333rem;
	position: absolute;
	right:0.533333rem;
	bottom:-0.133333rem;
	color: #f58220
}
.goods_info{
	background: #fff;
}
.goods_info .title{
   text-align: left;
   line-height: 0.8rem;
   border-bottom: 0.026667rem solid #ddd;
}
.goods_info .title:before{
	content: "";
	display: inline-block;
	width: 0.4rem;
	height:0.4rem;
	background: #999;
	vertical-align: middle;
	margin-right: 0.266667rem
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.cart_footer .innerpadding{
	height: 100%;
   padding: 0 0.266667rem;
}
.cart_footer .icon{
	font-size: 0.8rem;
	position: relative
}
.cart_footer .icon strong{
	display: inline-block;
	width: 0.533333rem;
	height: 0.533333rem;
	border-radius: 50%;
	background: #f58220;
   font-size: 0.266667rem;
   position: absolute;
   right: 0;
   top:0.106667rem;
   color: #fff;
   line-height: 0.533333rem;
   text-align: center;
}
.cart_footer .counter{
	width: 4.0rem;
	font-size: 0.55556rem;
	border: 1px solid #ddd ;
}
.cart_footer .counter dd.sub,.cart_footer .counter dd.push{
   width: 60%;
   background: #ddd;
   text-align: center;
}
.cart_footer .counter input[type="text"]{
	width: 100%;
	font-size:0.4rem;
	text-align: center;
	color: #ff0000
}
.cart_footer .addCart{
	width: 2.666667rem;
	background: #f58220;
	color: #fff;
	font-size:0.32rem;
	padding: 0.266667rem;
}